<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.data_show.mapper.TaUsagePonitDataMonMapper">
    <insert id="insertTaInstantPointDataMon"  parameterType="com.main.data_show.pojo.TaUsagePointDataMon" >
        INSERT INTO ta_usage_point_data_mon (point_id,date_show,point_data)
        VALUES (#{pointId},#{dateShow},#{pointData});
    </insert>
    <select id="getUsagePointDataMonByPointIdAndTime" resultType="com.main.data_show.pojo.TaUsagePointDataMon">
        <![CDATA[select point_id as pointId,
                 date_show as dateShow,
                 point_data as pointData
                 from ta_usage_point_data_mon t
                 where t.point_id = #{point_id}
                 and t.date_show = #{date_show}]]>
    </select>
    <update id="updateTaPointDataMonByPointIdAndTime"  parameterType="com.main.data_show.pojo.TaUsagePointDataMon" >
                 update ta_usage_point_data_mon set
                 point_data = #{pointData}
                 where point_id = #{pointId}
                 and date_show = #{dateShow}
    </update>

    <select id="findUsagePointDataMonByPointIdAndTime" resultType="com.main.data_show.pojo.TaUsagePointDataMon">
        <![CDATA[select point_id as pointId,
                date_show as dateShow,
                point_data as pointData
                from ta_usage_point_data_mon
                where point_id in (${pointIds})
                and date_show >= ${startExpDate}
                and date_show <= ${endExpDate}
                order by point_id asc,date_show asc]]>
    </select>
</mapper>