<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.data_show.mapper.TaUsagePonitDataMapper">
    <insert id="insertTaInstantPointData"  parameterType="com.main.data_show.pojo.TaUsagePointData" >
        INSERT INTO ta_usage_point_data (point_id,create_time_int, create_time, date_show, hour_show, point_data,point_usage)
        VALUES (#{pointId},#{createTimeInt},#{createTime}, #{dateShow}, #{hourShow}, #{pointData},#{pointUsage});
    </insert>
<!--取某个时间的读表数据-->
    <select id="getUsagePointDataByPointIdAndTime" resultType="com.main.data_show.pojo.TaUsagePointData">
        <![CDATA[select point_id as pointId,
                 create_time_int as createTimeInt,
                 create_time as createTime,
                 date_show as dateShow,
                 hour_show as hourShow,
                 point_data as pointData,
                 point_usage as pointUsage
                 from ta_usage_point_data t
                 where t.point_id = #{point_id}
                 and t.create_time_int = #{create_time_int}]]>
    </select>
</mapper>